<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="empMapper"> <!-- mapper의 별칭을 지어야 어느 mapper인지 알 수있음 -->
<!--<select id="login" parameterType="employee.model.vo.Employee" resultType="employee.model.vo.Employee">
	Employee [empNo=7839, pwd=A1D2M3IN, name=null, job=PRESIDENT, mgrNo=null, mgr=null, hireDate=1981-11-17, sal=5000, comm=3500, deptNo=10, dept=null, isAdmin=null, status=Y]
	필드와 RESULT SET명 이 맞지 않으면 NULL로 나옴-->
	
	<select id="login" parameterType="employee.model.vo.Employee" resultMap="empResultSet">
	select * from v_selectemp 
	where empno= #{empNo} and pwd= #{pwd} 
	and status = 'Y'
	</select>
	<!-- 컬럼명/우리가 설정한 필드명이랑 완벽하게 똑같지 않으면 위에 처럼 null이 나오니까 resultMap을 따로 만들어 준 뒤에 진행하면 된다 !  -->
	<resultMap type="employee.model.vo.Employee" id="empResultSet">
		<id column="" property=""/>
		<!-- primary key로 되어있는 것. 없을 수도 있음. 근데 PK아니여도 넣기도 함 ㅎ
		 Column:Result Set이름(테이블보고하셈)/property : 필드이름(setter명)
	안 맞는거만 써도되지만 혹시 모르니까 전체 다 써주기 -->
		<result column="EMPNO" property="empNo"/>
		<result column="PWD" property="pwd"/>
		<result column="ENAME" property="name"/>
		<result column="JOB" property="job"/>
		<result column="MGR_NO" property="mgrNo"/>
		<result column="MGR" property="mgrNo"/>
		<result column="HIREDATE" property="hireDate"/>
		<result column="SAL" property="sal"/>
		<result column="COMM" property="comm"/>
		<result column="DEPTNO" property="deptNo"/>
		<result column="DNAME" property="dept"/>
		<result column="IS_ADMIN" property="isAdmin"/>
		<result column="STATUS" property="status"/>
		<!-- primary key로 되어있지 않은 나머지 -->
	</resultMap>
</mapper>